/*-------------------------*/
/* Polices personnalisées */

@font-face 
{
	font-family: 'GLYPHICONS Halflings';
	src: url("Fonts/glyphicons-halflings-regular.eot");	
	src: url("Fonts/glyphicons-halflings-regular.svg");
	src: url("Fonts/glyphicons-halflings-regular.ttf");
	src: url("Fonts/glyphicons-halflings-regular.woff");
}

@font-face 
{
	font-family: 'Roboto';
	src: url("Fonts/Roboto-Regular.ttf");
}

@font-face 
{
	font-family: 'GLYPHICONS Halflings';
	src: url("Fonts/glyphicons-halflings-regular.eot");
	src: url("Fonts/glyphicons-halflings-regular.svg");
	src: url("Fonts/glyphicons-halflings-regular.ttf");
	src: url("Fonts/glyphicons-halflings-regular.woff");
}
/*---------------*/
/*Corps de page*/



#flechegauche
{
	color: white;
	background-color: rgba(0,0,0,0.3);
	padding: 25px;
	border-radius: 80px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin-left: -45px;
}

.fa-chevron-left
{
	font-size: 0.8em;
	margin-left: 30px;
	margin-top: 10px;
}

#flechedroite
{
	color: white;
	background-color: rgba(0,0,0,0.3);
	padding: 25px;
	border-radius: 80px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin-right: -45px;
}

.fa-chevron-right
{
	font-size: 0.8em;
	margin-top: 10px;
}

.fa-chart-line:before
{
	color: #5CADD3;
	position: relative;
	left: -70px;
	font-size: 2.1em;
	top: 40px;
	border: 1px grey solid;
	opacity: 0.8;
	border-radius: 30px;
	padding: 10px;
}

.fa-cubes:before
{
	color: #5CADD3;
	position: relative;
	left: -70px;
	font-size: 2.1em;
	top: 40px;
	border: 1px grey solid;
	opacity: 0.8;
	border-radius: 30px;
	padding: 10px;
}

.fa-chart-pie:before
{
	color: #5CADD3;
	position: relative;
	left: -70px;
	font-size: 2.1em;
	top: 40px;
	border: 1px grey solid;
	opacity: 0.8;
	border-radius: 30px;
	padding: 10px;
}

.fa-eye:before
{
	position: absolute;
	left: 320px;
	top: -20px;
	border: 2px white solid;
	border-radius: 30px;
	font-size: 0.9em;
	padding: 10px;
	background: linear-gradient(#3985A8, #52B3C4);
}

.bleuicone
{
	background-color: #5CADD3;
	width: 12px ; 
	height: 12px ;
	border-radius: 50%;
	border: 2px white solid;
	position: relative;
	right: 22px;
	top: 16px;

}


#logosite
{
	width: 200px;
	margin-top: 20px;

}

#mainpage
{
	overflow: hidden;
}


#txtimg
{
	font-size: 1.6em;
	text-indent: initial;
	margin-top: 40px;
	margin-bottom: 6px;
	margin-left: -800px;

}

#txtimg strong, em
{
	color: white;
	font-size: 1.9em;

}

/* Alignement texte "vos projets!" */

#brprojets
{
	display: flex;
}



#alltxtimg
{
	font-size: 1.3em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	bottom: 250px;
}

strong
{
	font-family: 'Roboto';
	text-shadow: 0.02em 0.02em #333;
}

#BoutonInfo
{
	margin-top: 20px;
}

#BoutonInfo em
{
	font-family: 'Comic Sans MS';
	top: 200px;
	border: 3px #499fef groove;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px;
	background-color: #5CADD3;
}

#BoutonInfo em:hover
{
	font-family: 'Comic Sans MS';
	top: 200px;
	border: 3px #4286f4 groove;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px;
	background-color: #6297B1;
	cursor: pointer;

}

.listserv
{
	display: flex;
	margin-top: 80px !important; 
	margin: auto;
}

#icopcbox
{
	width: 640px;
}

#icopc
{
	width: 100%;
}

.text
{
	display: flex;
	flex-direction: column;
	text-align: left;
}

.text p
{
	margin-bottom: 20px;
}

.pointbleu
{
	background-color: #5CADD3;
	width: 15px ; 
	height: 15px ;
	margin: auto;
	border-radius: 50%;
	margin-top: -14px;
	margin-bottom: 30px;
	border: 6px white solid;

}


hr
{
	width: 150px;
	margin: auto;
}

#fond
{
	width: 100%;
	margin-top: 100px;
}

#logo
{
	margin: 10px 0px 0px 0px;
	width: 100%;
}

iframe
{
	width: 100%;
	height: 1000px;
	margin-bottom: -560px;
	overflow: hidden;
}

#bluewebagn
{
	color: #5CADD3;
}

#imgsportfolio
{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	width: auto;
}

#portfolio
{
	background-color: #F5F5F5;
	padding-top: 20px;
}




.imgpf
{
	width: 430px;
	margin-top: 80px;
	margin-bottom: 20px;
}


.descsection
{
	text-align: center;
}

.serv
{
	display: inline;
	flex-direction: row;
}

*
{
	margin : 0;
	width: auto;
}


nav ul li
{
	display: inline;
	list-style: none;
	width: 25%;
	padding: 35px;
}

header
{
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 20px 0px;
	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 10;

}

nav
{
	display: flex;
	justify-content: space-around;
	font-size: 1.4em;
	text-align: justify;
	width: 100%;
}

a
{
	color: black;
	text-decoration: none;
}

li:hover
{
	border-top: 5px #4ac0ef solid;
	padding: 35px;
}


#services
{
	text-align: center;
	font-family: "Roboto";
}

#contact
{
	margin-bottom: -400px;
	padding-top: 20px;
}


h2
{
	font-family: "Roboto";
	text-shadow: 0.05em 0.05em #333;
	font-size: 2.2em;
	text-align: center;
	margin-bottom: 20px;
}




form
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 20%;
	height: 420px;
	position : relative;
	top: -300px;
	left: 40%;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 15px;
	border: 2px black groove;
	border-color: rgba(0, 0, 0, 0.4);
}

input
{
	padding-bottom: 10px;
	margin-bottom: 25px;
	width: auto;
}

ul
{
	margin-top: 40px;
}

em
{
	font-family: 'Arial, Helvetica, sans-serif';
	font-size: 0.7em;
	text-shadow: 0.05em 0.05em #333;
}

#boutoninfo2 em
{
	position: relative;
	bottom: -20px;
	border: 3px #499fef groove;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px;
	background-color: #6297B1;
}

#boutoninfo2 em:hover
{
	cursor: pointer;
}

/* Barre section projets */

#barreprojets
{
	display: flex;
	flex-direction: row;
	width: 400px;
	margin: auto;
	border-radius: 25px;
	margin-top: 50px;
	padding-bottom: 40px;
}

.sectionbarre
{
	padding: 15px;
	justify-content: space-between;
	background-color: #E5E5E5; 
	text-align: center;
	height: 12px;
}

.radius-gauche
{
	border-radius: 10px 0px 0px 10px;
	background-color: #5CADD3; 
	border-bottom: 3px #468CAD solid;
	color: white;
	cursor: pointer;
}

.radius-gauche .fa-sort-down
{
	visibility: visible;
}

.radius-droite
{
	border-radius: 0px 10px 10px 0px;

}

.sectionbarre:hover
{
	background-color: #5CADD3; 
	border-bottom: 3px #468CAD solid;
	color: white;
	cursor: pointer;

}

.fa-sort-down
{
	visibility: hidden;
	font-size: 1.3em;
	color: #468CAD;
}

.sectionbarre:hover .fa-sort-down
{
	visibility: visible;
	cursor: pointer;
}

/* Effet de Hover sur images */

figcaption
{
	visibility: hidden;
	background-color: rgba(0,0,0,0.6);
	color: white;
	position: relative;
	bottom: 108px;
	height: 76px;
	padding-top: 8px;

}

h4
{
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.1em;
	text-shadow: 2px 2px 2px black;
}

figure figcaption p
{
  font-size: 1.1em;
  margin-left: 10px;
}

figure:hover figcaption
{
	visibility: visible;
}

figure:hover
{
	cursor: pointer;
}


/* Responsive Design pour mobiles */
@media all and (max-device-width: 480px)
{
	#fond
	{
		height: 140px;
		width: 100%;
		margin-top: 0;
		overflow: hidden;
	}

	.listserv
	{
		display: initial;
	}

	p
	{
		font-size: 1.001em;
	}

	header
	{
		width: 100%;
		height: 150px;
		
		position: initial;
	}

	#barreprojets
	{
		flex-direction: column;
		width: 320px;
	}

	nav ul li
	{
		padding: 0!important;
		margin: auto;
		display: flex;
		
	}

	ul
	{
		padding: 0;
	}


	#icopcbox
	{
		height: 108.33px;
		display: initial;
	}

	#logo
	{
		margin-bottom: -40px;
	}

	#icopc
	{
		margin-top: -1%;
		width: 280px;
	}

	#portfolio
	{
		overflow: hidden;
	}

	.imgpf
	{
		width: 320px;
	}

	.sectionbarre:hover .fa-sort-down
	{
		visibility: initial;
		cursor: pointer;
	}
	

	form
	{
		position: relative;
		left: -1px;
		width: 208px;
		margin: auto;
		overflow: hidden;
	}

	#txtimg
	{
		margin-left: 0px;
		font-size: 0.8em;
	}
	
	#alltxtimg
	{
		bottom: 165px;
		right: 36px;
		font-size: 0.79em;
	}

	#brprojets
	{
      display: initial;
	}

	#services
	{
		margin-top: -140px;
	}

	nav
	{
		flex-direction: column;
	}

	#logosite
	{
		margin: auto;
	}

	#flechegauche, #flechedroite
	{
		visibility: hidden;
	}

	.text
	{
		margin-top: -5px;
		margin-left: 55px;
		text-align: center;
	}

	.text p
	{
		margin-right: 25px;
		margin-bottom: 20px;
		text-align: left;
		margin-left: 5px;
	}

	.text h3
	{
		text-align: left;
		margin-left: 5px;
	}

	.bleuicone
	{
		width: 8px;
		height: 8px;
		right: 10px;
		top: 16px;
	}

	.fa-chart-line:before, .fa-cubes:before, .fa-chart-pie:before
	{
		left: -55%;
		padding: 5px;
		top: 33px;
		font-size: 1.2em;
		text-align: left;
	}

	iframe
	{
		height: 354px;
		margin-bottom: 348px;
	}

	#contact
	{
		background-color: #F5F5F5;
	}



}




/* Responsive design au dessous de 2560px */
@media all and (min-device-width: 1920px) and (max-device-width: 2560px)
{
	#txtimg
	{
		font-size: 1.8em;
		text-indent: initial;
		position: absolute;
		bottom: -50%;
		left: 47%;

	}


	#alltxtimg
	{
		bottom: 360px;
	}

	#brrealiser
	{
		display: inline-flex;
	}

	#brprojets
	{
		display: flex;
	}

	#txtimg strong, em
	{
		color: white;
		font-size: 1.5em;

	}

	#txtimg em
	{
		font-size: 0.8em;
	}

	#BoutonInfo em
	{
		margin-top: 50px;
	}

	h2
	{
		font-size: 2.8em;
	}
	
	p
	{
		font-size: 1.5em;
	}

	.fa-chart-line:before
	{
		font-size: 2.5em;
		border-radius: 50px;
	}

	.fa-cubes:before
	{
		font-size: 2.5em;
		border-radius: 50px;
	}

	.fa-chart-pie:before
	{
		font-size: 2.5em;
		border-radius: 50px;
	}

	.bleuicone
	{
		width: 15px; 
		height: 15px;
		position: relative;
		right: 22px;
		top: 6px;

	}

	#icopc
	{
		width: 560px;
	}

	#icopcbox

	{
		margin-top: -25px;
		margin-bottom: -25px;
	}

	.text
	{
		font-size: 0.9em;
		text-align: justify-all;
		position: relative;
	    right: 20px;
	}

	h3
	{
		font-size: 1.3em;
	}

	.imgpf
	{
		width: 450px;
	}

	nav
	{
		font-size: 1.5em;
	}



	.listserv
	{
		flex-direction: row;
		align-items: center;
	}


	form
	{
		height: 510px;
		padding: 20px;
		margin-left: 400px;
	}

}


/* Responsive design en dessous de 1440px */

@media all and  (min-device-width: 1025px) and (max-device-width: 1440px)
{

	nav ul li
	{
		display: inline;
		list-style: none;
		width: 25%;
		padding-top: 35px;
		margin-left: 20px;
	}

	#img
	{
		width: 100%;
	}



	#txtimg
	{
		font-size: 1.27em;
		margin-top: 30px;
		margin-left: -415px;
	}

	#alltxtimg
	{
		bottom: 370px;
	}

	#BoutonInfo
	{
		margin-top: 20px;
	}


	.imgpf
	{
		width: 490px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	iframe
	{
		width: 100%;
		height: 740px;
	}

	form
	{

		justify-content: center;
		align-content: center;
		width: 50%;
		top: -80px;
		height: 420px;
		left: 25%;
		background-color: rgba(255, 255, 255, 0.6);
		margin-top: 40px;
	}

   #services
   {
   	margin-top: -170px;
   }

}

/* Responsive design en dessous de 768px */

@media all and (min-device-width: 481px) and (max-device-width: 768px)
{

	.imgpf
	{

		width: 400px;
		height: 100%;
		margin-top: 20px;
		margin-bottom: 50px;
	}

	#fond
	{
		margin: auto;
		width: 100%;
		position: relative;
		top: 100px;
	}


	.listserv
	{
		flex-direction: column;
		text-align: left;
	}

	#icopcbox
	{
		margin: auto;
	}

	.text
	{
		width: 600px;
		margin-left: 100px;
	}

	#portfolio
	{
		margin-top: 50px;
		padding-top: 20px;


	}

	figure
	{
		width: 360px;
		height: 260px;
	}



	#imgsportfolio
	{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.imgpf
	{
		width: 280px;
		height: 210px;
		margin-top: 50px;
		margin-bottom: 60px;
		margin-left: 50px;
		margin-right: 20px;
	}
	#alltxtimg
	{
		margin-top: 85px;
		bottom: 185px;
	}

	#txtimg
	{
		position: absolute;
		left: 860px;
		font-size: 0.7em;
	}

	#logosite
	{
		margin: auto;
	}

	nav
	{
		flex-direction: column;
	}

	nav ul li
	{
		margin-left: -25px;

	}

	ul
	{
		width: 500px;
		margin: auto;
		margin-top: 5px;
		margin-bottom: -10px;
	}

	iframe
	{
		height: 880px;
	}

	form
	{

		width: 45%;
		height: 420px;
		position: relative;
		top: -200px;
		left: 25%;
		padding: 20px;

	}

}

@media all and (min-device-width: 769px) and (max-device-width: 1024px)
{
	#txtimg
	{
		margin-top: 170px;
		font-size: 1em;
		position: absolute;
		left: 855px;
		bottom: -65px;
	}

	form
	{
		top: -240px;
		height: 460px;
		width: 490px;
		left: 250px;
	}

	.text
	{
		margin-top: -55px;
		margin-left: 10px;
	}
}
