/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L		- 1 - */
/* L		- 2 - */
/* L		- 3 - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Black (text) :			#000
Dark gray (links, h1) :		#008dde
Mid gray (visited links) :	#0006a1
Light gray (h2) :		#747474
*/

/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */

/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */

@font-face {
 	font-family: "Roboto";
 	src: url('./Fonts/Roboto-Regular.ttf');
}

body
{
	margin: 0;
	font-family: "Roboto";
}

h2 /* Propriétés CSS pour les titres de chaque section */
{
	font-size: 2.6em;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0px;
}

img
{
	width: 100%;
	height: auto;
}

.description
{
	text-align: center;
}

.point-bleu-deco
{
	width: 15px ; 
	height: 15px ;
	border-radius: 50%;
	border: 6px white solid;
}

hr
{
	width: 60px;
	opacity: 0.3;
}

.decoration
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.padding
{
	padding-top: 15px;
}

.conteneur
{
	width: 90%;
	margin: auto;
}

.bg-color-white
{
	background-color: #FFFFFF;
}

.bg-color-blue
{
	background-color: #5CADD3;
}

.color-blue
{
	color: #5CADD3;
}

/* ---------------------------------------- */
/* ==            HEADER                */
/*---------------------------------------- */

/*     Navigation      */

#logosite
{
	width: 175px;
}

#logo
{
	width: 100%;
	height: auto;
}

nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4em;
	height: 130px;
}

header
{
	position: fixed;
	z-index: 50;
	width: 100%;
	top: 0;
	left: 0;
}

ul
{	
	display: flex;
	flex-direction: column;
	padding-left: 0;
}

a
{
	color: #777777;
	text-decoration: none;
}

a:hover
{
	border-top: 4px #4ac0ef solid;
	padding-top: 48px;
	color: black;
}

nav ul li
{
	list-style: none;
	width: 100%;
	text-align: center;
}

/*     Slider      */

#accueil
{
    position: relative;
    margin: 130px 0px 0px 0px;
}

#fond
{
	width: 100%;
	height: auto;
}

#slider-accueil
{
	font-size: 0.7em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#texte-slider
{
	font-family: 'Roboto';
}

#texte-slider h1, #texte-slider p
{
	color: #FFFFFF;
}

#texte-slider h1
{
	margin-top: 0;
}

#fleche-gauche
{
	color: white;
	background-color: rgba(0,0,0,0.2);
	border-radius: 0px 35px 35px 0px;
	cursor: pointer;
	width: 35px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

.fa-chevron-left
{
	font-size: 0.8em;
}

#fleche-droite
{
	color: white;
	background-color: rgba(0,0,0,0.2);
	border-radius: 35px 0px 0px 35px;
	cursor: pointer;
	width: 35px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

.fa-chevron-right
{
	font-size: 0.8em;
}

#texte-slider
{
	font-size: 0.6em;
	width: 62%;
	position: absolute;
	left: 9%;
}

#texte-slider button
{
	padding: 5px;
	width: 60px;
	border: 1px #5CADD3 solid;
	border-bottom: 3px #4494BB solid;
	border-radius: 8%;
	color: white;
	cursor: pointer;
	font-size: 0.7em;
	font-weight: bold;
}

#trait
{
	display: flex;
	height: 4px;
	width: 100%;
	bottom: 0;
	position: absolute;
}

#trait-bleu
{
	width: 200px;
}

#trait-ombre
{
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}

/* ---------------------------------------- */
/* ==            SERVICES             */
/*---------------------------------------- */

.icone-service
{
	height: 60px;
    width: 60px;
    border: 1px rgba(0,0,0,0.2) solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.point-bleu-service
{
	width: 12px; 
	height: 12px;
	border-radius: 50%;
	border: 2px white solid;
	position: absolute;
	left: 50px;
}

.liste-services
{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.un-service
{
	display: flex;
	align-items: center;
}

.paragraphe
{
	flex-direction: column;
	width: 70%;
	margin-left: 20px;
}

.fa-chart-line
{
	font-size: 1.8em;
}

.fa-cubes
{
	font-size: 1.8em;
}

.fa-chart-pie
{
	font-size: 1.8em;
}


/* ---------------------------------------- */
/* ==            PROJETS               */
/*---------------------------------------- */

#portfolio
{
	background-color: #F5F5F5;
}

#barreprojets
{
	display: flex;
	margin: auto;
	border-radius: 25px;
	margin-top: 50px;
	padding-bottom: 20px;
	flex-direction: column;
	width: 320px;
}

.sectionbarre
{
	padding: 15px;
	justify-content: space-between;
	background-color: #E5E5E5; 
	text-align: center;
	height: 12px;
}

#radius-gauche
{
	background-color: #5CADD3;
	border-radius: 8px 0px 0px 8px;
	border-bottom: 3px #468CAD solid;
	color: white;
	cursor: pointer;
}

#radius-gauche .fa-sort-down
{
	visibility: visible;
}

.sectionbarre .fa-sort-down
{
	visibility: hidden;
	font-size: 1.3em;
	color: #468CAD;
}

.sectionbarre:hover .fa-sort-down
{
	visibility: visible;
	cursor: pointer;
}

.radius-droite
{
	border-radius: 0px 8px 8px 0px;
}

.sectionbarre:hover
{
	background-color: #5CADD3; 
	border-bottom: 3px #468CAD solid;
	color: white;
	cursor: pointer;
}

#images-portfolio
{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	min-width: 70%;
	max-width: 100%;
}

#images-portfolio figure
{
	position: relative;
}

.legende-portfolio
{
	visibility: hidden;
	background-color: rgba(0,0,0,0.6);
	color: white;
	position: absolute;
	bottom: 100px;
	height: 96px;
	padding-top: 1px;
}


.legende-portfolio h4, .legende-portfolio p
{
	font-size: 1.1em;
	margin-left: 10px;
	margin-bottom: 14px;
}

figure .legende-portfolio
{
	width: 100%;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

figure:hover .legende-portfolio
{
	visibility: visible;
}

.fa-eye
{
	position: absolute;
	right: 12%;
	bottom: 80px;
	border: 2px white solid;
	border-radius: 30px;
	font-size: 0.9em;
	padding: 10px;
	background: linear-gradient(#3985A8, #52B3C4);
}

.imgpf
	{
		width: 320px;
	}

/* ---------------------------------------- */
/* ==            CONTACT              */
/*---------------------------------------- */

#titre-contact
{
	visibility: hidden;
}

form
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position : relative;
	background-color: rgba(234, 234, 234, 0.6);
	padding: 13px;
	border: 1px grey groove;
	border-color: rgba(0, 0, 0, 0.2);
}

input
{
	padding: 15px 0px 15px 10px;
	margin-bottom: 40px;
	width: auto;
}

textarea
{
	padding: 15px 0px 15px 10px;
}

#formulaire-contact
{
	margin: 0;
	position: relative;
}

iframe
{
	width: 100%;
	height: 500px;
	pointer-events: painted;
	overflow: hidden;
}

#calquebleu
{
	background-color: #5fbde2;
	width: 100%;
	pointer-events: none;
	height: 500px;
	overflow: hidden;
	position: absolute;
	opacity: 0.2;
	z-index: 0;
	top: 0;
}


form button
{
	border: 1px #6297B1 groove;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px;
	border-bottom: 3px solid #468CAD;
	margin-top: 20px;
	font-size: 1.2em;
	color: white;
	cursor: pointer;
	width: 130px;
	height: 40px;
}

/* ---------------------------------------- */
/* ==       MEDIAS QUERIES        */
/*---------------------------------------- */


/*     Tablette     */

@media screen and (min-width: 481px)

{
	nav
	{
		font-size: 1em;
	}

	#logosite
	{
		width: 220px;
	}

	ul
	{
		width: 50%;
		flex-direction: row;
	}

	#fleche-gauche
	{
		visibility: visible;
	}

	#fleche-droite
	{
		visibility: visible;
	}

	#texte-slider
	{
		font-size: 1em;
		max-width: 650px;
		width: 50%;
	}

	#texte-slider button
	{
		padding: 8px;
		width: 90px;
	}

	#boite-icone-pc
	{
		margin-left: 0px;
		padding-right: 0;
	}

	#barreprojets
	{
		flex-direction: row;
		width: 400px;
	}

	.imgpf
	{
		width: 275px;
	}

	.text
	{
		margin-left: 0px;
		width: 50%;
	}

	#BoutonInfo
	{
		width: 100px;
		height: 30px;
	}

	form
	{
		top: 5%;
		right: 5%;
		position: absolute;
		margin: 60px 40px 0px 0px;
    	width: 40%;
    	z-index: 5;
    	background-color: rgba(255, 255, 255, 0.7);
	}

	iframe
	{
		height: 800px;
	}

	#calquebleu
	{
		height: 800px;
	}

}

/*   769 à 1024px    */

@media screen and (min-width: 769px) 

{

	#boite-icone-pc
	{
		margin-left: 0px;
	}

	.liste-services
	{
		flex-direction: row;
	}

}

/*   A partir de 1025px et plus   */

@media screen and (min-width: 1025px)
{
	#logosite
	{
		width: 240px;
	}

	nav
	{
		font-size: 1.3em;
	}

	ul
	{
		width: 45%;
	}

	#texte-slider
	{
		width: 50%;
		max-width: 650px;
	}

	#texte-slider button
	{
		width: 120px;
	}

	#slider-accueil
	{
		font-size: 1.1em;
	}

	.liste-services
	{
		flex-direction: row;
		justify-content: space-between;
	}

	#barreprojets
	{
		flex-direction: row;
		width: 400px;
	}

	.imgpf
	{
		min-width: 350px;
		max-width: 385px;
	}

	#text
	{
		width: 55%;
	}

	#boite-pc
	{
		width: 45%;
	}

	iframe
	{
		height: 900px;
	}

	#calquebleu
	{
		height: 900px;
	}

	form
	{
    	width: 30%;
	}

}

